/*
 *forms
 */
label,
input,
textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 0.4rem;
}

label {
  font-size: 85%;
  margin-bottom: ($line-height / 4) * 1rem;
}

input,
textarea {
  margin-bottom: $line-height * 1rem;
}
