body {
  position: relative;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.modal.opened {
  pointer-events: all;
  opacity: 1;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.modal__container {
  position: absolute;
  top: 10rem;
  left: 50%;
  height: auto;
  width: 100%;
  max-width: 32rem;
  transform: translateX(-50%);
  z-index: 2;
  padding: 1rem;
}

.modal__body {
  position: relative;
  padding: 2rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  line-height: 0.5;
  font-size: 2rem;
  padding: .5rem;
  transition: opacity 0.125s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

