/*
 *navigation
 */
.nav {
  display: block;

  &--header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 500;
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__group {
  display: inline-flex;

  &--justified {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.nav__mobile-menu {
  display: block;
  position: relative;

  &.is-open {
    .nav__mobile-menu__menu {
      opacity: 1 !important;
      pointer-events: all;
    }
  }
}

.nav__mobile-menu__toggle {
  display: inline-flex;
  @media (min-width: 960px) {
    display: none;
  }
}

.nav__mobile-menu__menu {
  @media (max-width: 959px) {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    pointer-events: none;
    min-width: 200px;
    background-color: white;
  }
}

.nav__item {
  display: inline-flex;
}

.nav__link {
  font-size: 90%;
  font-weight: 300;
  color: #163b4d;//blue
  text-transform: uppercase;
  padding: 1.2rem 1.2rem 0.8rem;
}

.nav__logo {
  margin-right: auto;
}

