/*
 *  reset
 */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

iframe {
  display: block;
}
