// Source: https://www.cssscript.com/css-only-crossfading-background-slideshow/

$slideshow_delay: 12s;
$slideshow_image: "hero-slideshow-image";
$slideshow_items: 5;
$slideshow_total: $slideshow_delay * $slideshow_items;

@keyframes heroSlideshowAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.crossfade > figure {
  animation: heroSlideshowAnimation $slideshow_total linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  will-change: transform;
}

@for $index from 1 through $slideshow_items {
  .crossfade > figure:nth-child(#{$index}) {
    animation-delay: ($slideshow_delay * $index) - $slideshow_delay;
    background-image: url("../img/#{$slideshow_image}-#{$index}.jpg");
  }
}
