$grid-gutter : 1rem;

/*
 *helpers
 */
@import 'utils';

/*
 *base
 */
@import 'reset';
@import 'typography';

/*
 *components
 */
@import 'forms';
@import 'grid';
@import 'hero';
@import 'nav';


/*
 *section
 */
.section {
  padding: 4rem 0;
  position: relative;
}

.section__wrapper {
  position: relative;
  z-index: 100;
}

.section__container {

}

.section__header {
  text-align: center;
  margin-bottom: 4rem;
  color: #163b4d;//blue

  hr {
    margin-left: auto;
    margin-right: auto;
  }

  .primary {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.section__subheader {

  .primary {
    color: #eb1c24;//red
    font-size: 1.4rem;
  }
}

/*
 *section shatterfund
 */
.section--thefund {

  .section__header {
    color: #163b4d;//blue
  }
}

.section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &:before {
    z-index: 70;
  }

  &:after {
    z-index: 50;
  }
}

.section--thefund .section__background {
  &:before,
  &:after {
    width: 50%;
  }

  &:before {
    background: linear-gradient(to right, rgba(0,0,0,0.0), white);
  }

  &:after {
    background: white;
    background-image: url('../img/shatterfund__background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*
 *section ourvalue
 */
.section--ourvalue {
  color: white;
  background-color: #163b4d;//blue

  .section__header {
    color: inherit;
  }

  .column {
    text-align: center;
  }

  .icon {
    height: 6rem;
  }
}

/*
 *section whereweinvest
 */
.section--whereweinvest {
  background-color: #f2f2f2;

  .svg {
    text-align: center;
  }

  .icon {
    max-width: 20rem;
  }
}

/*
 *section portfolio
 */
.section--portfolio {

  .column {
    @media (min-width: 960px) {
      vertical-align: middle;
      float: none;
      display: inline-block;
      margin-right: -5px;
    }
  }

  .svg {
    text-align: center;
  }

  .icon {
    height: 4rem;
  }

  .icon--urbansitter { height: 10rem; }
  .icon--glamsquad { height: 9rem; }
  .icon--barnraiser { height: 5.5rem; }
  .icon--kraus { height: 3rem; }
  .icon--tmn { height: 3rem; }
}

/*
 *section quotes
 */
.section--quotes {
  background-image: url('../img/quotes__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;

  .section__background {
    &:before {
      background-color: rgba(0,0,0,0.6);
    }
  }
}

/*
 *advisor
 */
.advisor {
  position: relative;
}

.advisor__avatar {
  position: relative;
  z-index: 20;
}

.advisor__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  padding: 1.2rem;
}

/*
 *slider
 */
@import "lory";
