$grid-gutter : 1rem;

/*
 *helpers
 */
@import 'utils';

/*
 *base
 */
@import 'reset';
@import 'typography';

/*
 *components
 */
@import 'footer';
@import 'forms';
@import 'grid';
@import 'hero';
@import 'nav';

/*
 *section
 */
.section {
  padding: 4rem 0;
  position: relative;
}

.section__wrapper {
  position: relative;
  z-index: 100;
}

.section__container {

}

.section__header {
  text-align: center;
  margin-bottom: 4rem;
  color: #163b4d;//blue

  hr {
    margin-left: auto;
    margin-right: auto;
  }

  .primary {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.section__subheader {

  .primary {
    color: #eb1c24;//red
    font-size: 1.4rem;
  }
}

.section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &:before {
    z-index: 70;
  }

  &:after {
    z-index: 50;
  }
}

/*
 *section shatterfund
 */
.section--thefund {

  .section__header {
    color: #163b4d;//blue
  }

  .section__background {
    &:before,
    &:after {
      width: 50%;
    }

    &:before {
      background: linear-gradient(to right, rgba(0,0,0,0.0), white);
    }

    &:after {
      background: white;
      background-image: url('../img/shatterfund__background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/*
 *section ourvalue
 */
.section--ourvalue {
  color: white;
  background-color: #163b4d;//blue

  .section__header {
    color: inherit;
  }

  .column {
    text-align: center;
  }

  .icon {
    height: 6rem;
  }
}

/*
 *section whereweinvest
 */
.section--whereweinvest {
  background-color: #f2f2f2;

  .svg {
    text-align: center;
  }

  .icon {
    max-width: 20rem;
  }
}

/*
 *section portfolio
 */
.section--portfolio {

  .column {
    @media (min-width: 960px) {
      vertical-align: middle;
      float: none;
      display: inline-block;
      margin-right: -5px;
    }
  }

  .svg {
    text-align: center;
  }

  .icon {
    height: 4rem;
  }

  .icon--urbansitter { height: 10rem; }
  .icon--glamsquad { height: 9rem; }
  .icon--barnraiser { height: 5.5rem; }
  .icon--kraus { height: 3rem; }
  .icon--tmn { height: 3rem; }
}

/*
 *section quotes
 */
.section--quotes {
  background-image: url('../img/quotes__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;

  .section__background {
    &:before {
      background-color: rgba(0,0,0,0.6);
    }
  }
}

/*
 *section ourteam
 */
.section--ourteam {
  color: white;
  background-color: #163b4d;//blue

  .section__header {
    color: inherit;
  }
}

/*
 *section advisors
 */
.section--ouradvisors {
  color: white;
  background-color: #132f3e;//dark blue

  .section__header {
    color: inherit;
  }
}

/*
 *section summit
 */
.section--shattersummit {
  padding: 0;

  .section__header,
  .section__body,
  .section__footer {
    padding: 0 4rem;
  }

  .section__header {
    color: #eb1c24;//red
    text-align: left !important;
    padding-top: 4rem;

    hr {
      margin-left: 0;
    }
  }

  .section__body {
    padding-bottom: 4rem;
  }

  .section__footer {
    background-color: #f2f2f2;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section__background {
    &:before,
    &:after {
      width: percentage(7/12);
    }

    &:before {
      background: rgba(0,0,0,0.4);
    }

    &:after {
      background: white;
      background-image: url('../img/summit__background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/*
 *section contactus
 */
.section--contact {
  padding: 0;

  .section__header,
  .section__body,
  .section__footer {
    padding: 0 4rem;
  }

  .section__header {
    text-align: left !important;
    padding-top: 4rem;

    hr {
      margin-left: 0;
    }
  }

  .section__body {
    padding-bottom: 4rem;
  }

  .section__footer {
    padding-bottom: 4rem;
  }

  .icon {
    height: 3rem;
  }

}

/*
 *advisor
 */
.advisor {
  position: relative;
  height: 16rem;
  overflow: hidden;

  &--cameron-yuill {
    img {
      position: absolute;
      left: -1px;
    }
  }

  &--alexandra-wilkis-wilson {

  }

  &--alison-pincus {

  }
}

.advisor__avatar {
  position: relative;
  z-index: 20;
}

.advisor__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  padding: 0.8rem 1.2rem;
}

/*
 *media
 */
.media {
  display: flex;
}

.media-body {
  padding-left: $line-height*1rem;
}

/*
 *google-map
 */
.google-map__wrapper {
  position: relative;
}

.google-map {
  position: absolute;
  top: 0;
  left: 0;

  &,
  iframe {
    height: 100%;
    width: 100%;
  }
}

/*
 *slider
 */
@import "lory";
