/*
 *utilities
 */
@function negative($input) {
  @return $input * -1;
}
/*
 *  reset
 */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

/*
 *typography
 */
html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.618;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
}

/*
 *navigation
 */
.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__group {
  display: inline-flex;
}

.nav__item {
  display: inline-flex;
}

.nav__link {
  padding: 0.6rem 1.2rem;
}

.nav__logo {
  margin-right: auto;
}

/*
 *hero
 */
.hero {
  background-color: #eee;
  height: 100%;
}

.hero__container {
  height: 100%;
}

.hero__header {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hero__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
}

/*
 *grid
 */
$gutter : 1rem;

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 $gutter;
  position: relative;
}

.row {
  margin: 0 negative($gutter);

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.column {
  float: left;
  padding: 0 $gutter;
}

.column--4-12 { width: percentage(4/12); }
.column--5-12 { width: percentage(5/12); }
.column--6-12 { width: percentage(6/12); }
.column--7-12 { width: percentage(7/12); }
.column--8-12 { width: percentage(8/12); }

.column--1-5 { width: percentage(1/5); }

.column--offset--6-12 {
  margin-left: percentage(6/12);
}

/*
 *section
 */
.section {
  padding: 6rem 0;

  &:nth-child(even) {
    background: #eee;
  }
}

.section__container {

}

.section__header {
  text-align: center;
}

/*
 *slider
 */
@import "lory";
